.card-session{
    margin-top: 20px;
    width: 80vw;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.card{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    padding:20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.13);
    width: 240px;
    height:250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition:0.5s;
    box-shadow: 1px 1px 8px 8px #0000001f;
    z-index: 9;
}
.card:hover{
    box-shadow: 1px 1px 8px 8px #0000004f;
    background: rgba(255, 255, 255, 0.185);
    transform: translateY(-10px);
    transform:scale(1.05);
    z-index: 20;
}
.card-tumb img{
    width: 125px;
    padding-bottom: 10px;
}
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
}