*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  color: white;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar-icon{
  width: 275px;
  height: 275px;
  border-radius: 50%;
  border: 3px solid #343434;
  margin-bottom: 20px;
  transition:1.5s;
}

.avatar-icon:hover{
  transform:scale(1.1)
}

body{
  font-family: "Source Sans Pro";
  background: rgb(39, 39, 39);
}
h2,h1,p{
  margin-top:6px
}
.links {
  margin-top: 20px;
  display: flex;
  width: 200px;
  justify-content: space-evenly;
  z-index: 5;
}
.links a{
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid white;
  transition: 0.2s;
  z-index: 5;
}
a:hover{
  padding-bottom: 5px;
}